@CHARSET "UTF-8";

table,th,td {
	border: 1px solid black;
	text-align: center;
}

table {
	width: 100%;
}

th {
	background-color: green;
	color: white;
}

tr.acoes{
	/*display: none;*/
}
span.menorQueLimite, span.atividadeDemorada, span.operadora{
	font-weight: bold;
}

tr.finalDeSamana{
	background-color: yellow;
}

*{
font-size: x-small;
}